<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form action="/search/nameAndPrice">
          <input class="btn btn-success" type="submit" value="Name and Price" />
      </form>
    </div>
    <div class="col-md-3">

      <form action="/search/nameAndSpecification">
          <input class="btn btn-success" type="submit" value="Name and Spec" />
      </form>
    </div>

    <div class="col-md-3">
      <form action="/search/carTypeRatings">
          <input class="btn btn-success" type="submit" value="Car Type Ratings" />
      </form>
    </div>

    <div class="col-md-3">
      <form action="/search/vehicleRatings">
          <input class="btn btn-success" type="submit" value="Vehicle Ratings" />
      </form>
    </div>
  </div>
</div>
